.container{
    display: flex;
    background-color: rgba(42, 39, 36, 0.09);
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card-title{
   background-color: white;
   transition-duration: 0.45s;
   width: 80%;

}

.card-title:hover{
    background-color: #4CAF50; 
    color: white;
}